.fc {
  background-color: beige;
  height: 500px;
  border-radius: 10px;
}

.fc-header-toolbar .fc-toolbar {
  display: flex;
  justify-content: center;
  text-align: center;
}
.fc .fc-daygrid-day-frame {
  min-height: 100px;
}
/* .fc-event-main {
  cursor: move;
} */
.fc-daygrid-day-frame .fc-scrollgrid-sync-inner {
}
