.food-container {
  position: relative;
  text-align: center;
  height: 400px;
  width: 600px;
}

.food-buttons {
  overflow: scroll;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  top: 50px;
}

.food-buttons button {
  color: white;
  min-width: 60px;
  max-width: 200px;
  box-sizing: border-box;
  padding: 12px 10px;
  margin: 5px;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #7a503c;
  border: solid 1px white;
  border-radius: 25px;
}
.back-button {
  position: absolute;
  top: 370px;
  left: 270px;
  color: white;
  display: inline-block;
  height: 40px;
  width: 90px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #7a3d1f;
  border: solid 0.4px;
  border-radius: 5px;
}
.back-button:hover {
  transform: scale(1.1);
}
.food-buttons button:hover {
  background-color: #7a3d1f;
  transform: scale(1.1);
}
/* .recipe-information {
  margin-top: 65px;
  border-radius: 10px;
  padding: 20px;
} */
.text-area {
  text-align: left;
  margin-top: 65px;
  line-height: 1.5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: scroll;
  overflow-y: scroll;
  height: 500px;
  max-width: 550px;
  word-wrap: break-word;
  white-space: pre-wrap; /* This will break long words if necessary */
  overflow-wrap: break-word;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
  background-color: beige;
}
