#fridge {
  display: flex;
  flex-direction: column;
  /* min-height: 200px; */
  border: 1px solid navy;
  border-radius: 10px;
  height: 65%;
  background-color: white;
}
button {
  height: 25px;
  background-color: #a7d446;
  font-size: small;
  border: none;
  border-radius: 5px;
}
#meats,
#veggies,
#carbs {
  height: 150px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex-grow: 1;
  border: none;
  padding: 10px;
}
#pagination {
  position: absolute;
  width: 100px;
  justify-content: center;
  align-items: center;
  bottom: 5px;
  left: 40%;
  right: 50%;
  justify-content: space-between;
  display: flex;
  height: 25px;
}
