nav {
  position: fixed;
  display: inline-flex;
  top: 10px;
  right: 100px;
  padding: 20px;
}
li {
  font-size: 18px;
}
ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: #7a3d1f;
}
