#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  padding: 20px;
  height: 500px;
  width: 800px;
}
#leftColumn,
#rightColumn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#search-input {
  background-color: transparent;
  border: 1px solid #001f3f;
  color: #7a3d1f;
  border-radius: 10px;
  width: 60%;
  height: 40%;
  text-align: center;
}
#searchBar {
  /* min-height: 50px; */
  background-color: white;
  color: #7a3d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  /* background-color: #001f3f; */
}
.spice-header {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #7a3d1f;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#spices {
  height: 10%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-evenly;
  gap: 7px;
  padding: 5px;
}
.spice-section {
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  display: flex;
  max-width: 30px;
  border: 1px solid rgb(222, 193, 193);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.spice-section:hover {
  transform: scale(2);
  font-size: 5px;
  /* filter: brightness(70%); */
}
.spice-section:hover::before {
  content: attr(data-spice-name);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-weight: 500;
  font-size: 5px;
  padding: 5px; /* Adjust padding as needed */
}
.salt {
  background-color: white;
  color: black;
}
.pepper {
  background-color: black;
  color: white;
}
.cumin {
  background-color: #ffd700;
  color: #000;
} /* Cumin - Yellow */
.paprika {
  background-color: #ff6347;
  color: #000;
} /* Paprika - Tomato */
.coriander {
  background-color: #228b22;
  color: #fff;
} /* Coriander - Forest Green */
.cinnamon {
  background-color: #a52a2a;
  color: #fff;
} /* Cinnamon - Brown */
.turmeric {
  background-color: #ffd700;
  color: #000;
} /* Turmeric - Yellow */
.oregano {
  background-color: #008000;
  color: #fff;
} /* Oregano - Green */
.parsley {
  background-color: #32cd32;
  color: #fff;
} /* Parsley - Lime Green */
.thyme {
  background-color: #0a2e0b;
  color: #fff;
} /* Thyme - Gray */
.rosemary {
  background-color: #556b2f;
  color: #fff;
} /* Rosemary - Dark Olive Green */
.cayenne {
  background-color: #ff4500;
  color: #fff;
} /* Cayenne - Orange Red */
.cloves {
  background-color: #800000;
  color: #fff;
} /* Cloves - Maroon */
.nutmeg {
  background-color: #8b4513;
  color: #fff;
} /* Nutmeg - Saddle Brown */
.pumpkin-spice {
  background-color: #ff7f50;
  color: #fff;
}
.chilli-pepper {
  background-color: #ff0000;
  color: white;
}
.saffron {
  background-color: #960808;
  color: white;
}
.drop-area {
  cursor: crosshair;
  background: transparent;
  border-radius: 10px;
  height: 100px;
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  width: 150px;
  background-color: #bcaaa4;
  color: #fff;
}
#dropZone {
  display: flex;
  color: white;
  cursor: crosshair;
  border-radius: 16px;
  border: 2px dashed #8d6e63;
  background-color: #d7ccc8;
  border: none;
  margin-left: 10px;
  margin-top: 25px;
  height: 30%;
  width: 95%;
}
.recipe-inputs {
  margin-left: 30px;
  margin-top: 50px;
  font-family: "Lobster", cursive;
  color: black;
}
#ingredients {
  overflow-y: scroll;
  height: 35%;
  background-color: inherit;
}
#macros {
  display: flex;
  justify-content: space-around;
  height: 25%;
  background-color: white;
}
.macro-container {
  color: #7a3d1f;
  text-align: center;
  position: relative;
}
#ingredient-image {
  margin: 5px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
#ingredient-image:hover {
  transform: scale(1.2);
}
.circle {
  position: relative;
  background-color: rgb(233, 216, 219);
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  margin: 10px;
}
.macro-container label {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  font-size: 15px;
  height: 40px;
  padding: 15px;
  width: 100px;
  border-radius: 5px;
  border: 1px none;
  background-color: #e36323; /* Adjust the button size */
}
.submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}
