.user-recipes {
  border: none;
  height: 150px;
  border-radius: 10px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 30px;
  background-color: beige;
}
.scrollable-content {
  flex-grow: 1; /* Take up all available horizontal space */
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* justify-content: center; */
  gap: 10px;
  width: 250px;
}
.scroll-pointer {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: rgb(137, 110, 59);
  cursor: pointer;
  border-radius: 10%;
  z-index: 10000;
}
.left-pointer {
  left: 0;
  top: 72px;
}
.right-pointer {
  right: 0;
  top: 72px;
}
h4.userrecipes-heading {
  border-radius: 5px;
  background-color: orange;
  padding: 0;
  margin-left: 5px;
  width: 100px;
  text-align: center;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
}
.recipe-card {
  cursor: move;
  min-width: 75px;
  min-height: 125px; /* Adjust the width of the card */
  justify-content: center;
  flex-direction: column;
  border-radius: 10px; /* Round edges */
  overflow: hidden; /* Ensures the image and content respect the border-radius */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
  background-color: #fff; /* Background color of the card */
}

.recipe-image {
  width: 75px;
  height: 50%; /* Adjust the height of the image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.recipe-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.recipe-name {
  margin-top: 0;
  font-size: 1em; /* Adjust the size of the recipe name */
}
