.user-recipes {
  border: none;
  height: 30%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between cards */
  padding: 10px;
  background-color: beige;
}
h4.userrecipes-heading {
  border-radius: 5px;
  background-color: orange;
  padding: 0;
  margin-left: 5px;
  width: 100px;
  text-align: center;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
}
.recipe-card {
  cursor: move;
  width: 75px;
  max-height: 137px; /* Adjust the width of the card */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px; /* Round edges */
  overflow: hidden; /* Ensures the image and content respect the border-radius */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
  background-color: #fff; /* Background color of the card */
}

.recipe-image {
  width: 75px;
  height: 50%; /* Adjust the height of the image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.recipe-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.recipe-name {
  margin-top: 0;
  font-size: 1em; /* Adjust the size of the recipe name */
}
